<% var piece = Jana.editPiece %>
<form action='/pieces'>
	<label class='block al-center'>Title
		<input
			type='text'
			name='piece[title]'
			value='<%= piece.escape("title") %>'>
	</label>

	<% if ( piece.isNew()){ %>
    <div class='pos-rel'>
  		<button data-action='newPhoto' class='linkHand photoUpload pieceAction nobord round-small bold bk-green white photoButton'>
  			Upload Photo
  		</button>
  		<img
        class='photoPreview'    src='http://toolsfortheimagination.files.wordpress.com/2011/10/paint-canvas.jpg'>
    </div>
	<% } else { %>
	  <div class='pos-rel'>
    	<img class='photoPreview' src='<%= piece.get("bigUrl") %>' >
  		<button data-action='newPhoto' class='linkHand  pieceAction nobord round-small bold bk-green white photoButton'>
  			Change Photo
  		</button>
    </div>
	<% } %>

	<label class=' block al-center'>Caption
		<textarea
			class='bk-grey nobord font-18 round-big bk-grey thick '
			name='piece[caption]'
			><%= piece.escape("caption") %>
    </textarea>
	</label>

	<% if ( piece.isNew()){ %>
		<button data-action='createPiece' class='pieceAction nobord round-small bold bk-grey black'>
			Create Piece
		</button>
	<% } else { %>
		<button data-action='updatePiece' class='pieceAction nobord round-small bold bk-grey black'>
			Update Piece
		</button>
		<button data-action='deletePiece' class='pieceAction nobord round-small bold bk-grey black'>
			Delete Piece
		</button>
	<% } %>
</form>
<input type='file' class='hide newSrc'>