
    <h1>Welcome To Jana's Art Site!</h1>
    <p>
      Please Confirm your account by clicking the following link
    </p>
    <p>
      <a
      href="http://janabaker.us/users/<%= @user.id %>/confirm/?confirm=<%= @user.confirm_token %>">
      Confirm!</a>
    </p>
