<div class='space line-34'>
<h3><%= piece.escape('title') %></h3>
<p class='finished_date'><%= piece.finished() %></p>
</div>
<img src="<%= piece.get('bigUrl') %>">
<p class='space caption'>"<%= piece.escape('caption') %>"</p>

