<passwordrecovery>
  <h1>Reset Password</h1>
  <form action=<%= update_password_user_url %> method=POST >
    <input
      type=hidden
      name=authenticity_token
      value=<%= form_authenticity_token %> >
    	<roundform>
    		<input type='password' name='user[new]' placeholder='new password'>
    		<input type='password' name='user[confirm]' placeholder='confirm password'>
    	</roundform>
    	<button type='submit' class='bk-green round-small nobord white bold'>Update Password</button>
  </form>
</passwordrecover>