<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=597142486964951";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<loginmodal class='al-center modal trans hide hidden'>
</loginmodal>

<editpiecemodal class=' modal trans hide hidden'>
</editpiecemodal>

<statsmodal class='modal trans hide hidden'>
</statsmodal>

<piecemodal class=' modal trans hide hidden'>
</piecemodal>

<overlay class='hide hidden trans'>
</overlay>

<mainholder class='top-level'>

	<header class='al-center'>

	</header>

  <sidebar>
    <mainitems>
      <ul>
        <li class='line-42'>
          <h1>Jana's </h1>
          <h1>Art</h1>
        </li>
        <li>
          <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120px" data-layout="button_count" data-colorscheme='light' data-action="like" data-show-faces="false" data-share="false"></div>
        </li>
        <li class=' hide hidden trans adminButton' data-action='stats'>
					<i class='fa fa-bar-chart-o'></i>
					Stats
				</li>
				<li class=' hide hidden trans adminButton' data-action='newPiece'>
					<i class='fa fa-cloud-upload'></i>
					New Piece
				</li>
        <li class='baritem' data-action='favorites'>
          <i class='fa fa-heart'></i>
          Favorites
        </li>
        <li class='baritem' data-action='activity'>
          <i class='fa fa-flash'></i>
          Active
        </li>
        <li class='baritem' data-action='new'>
          <i class='fa fa-star'></i>
          New Pieces
        </li>
        <li class='baritem' data-action='all'>
          <i class='fa fa-eye'></i>
          All
        </li>
        <username>
        </username>
      </ul>
      <h3 class='under-line'>Followed Blogs</h3>
      <div class='followed-links'>
      </div>
    </mainitems>
  </sidebar>
	<piecesholder>
  </piecesholder>
</mainholder>


<messenger class='messenger hidden al-center hide round-18 shadow line-34 font-14 bold bk-grey'>
</messenger>
<failmessenger class='messenger hidden al-center hide round-18 shadow-red line-34 font-14 bold bk-red'>
</failmessenger>
<successmessenger class='messenger hidden al-center hide round-18 shadow-green line-34 font-14 bold bk-green'>
</successmessenger>

