<loginmodal class='al-center modal trans hide hidden'>
</loginmodal>

<editpiecemodal class=' modal trans hide hidden'>
</editpiecemodal>

<statsmodal class='modal trans hide hidden'>
</statsmodal>

<piecemodal class=' modal trans hide hidden'>
</piecemodal>

<overlay class='hide hidden trans'>
</overlay>

<mainholder class='top-level'>

	<header class='al-center'>
		<h1>Welcome</h1>
	</header>
  
  <sidebar>
    <mainitems>
      <ul>
        <li>
          <username>
          </username>
        </li>
				<li class=' hide hidden trans adminButton' data-action='stats'>
					<i class='fa fa-bar-chart-o'></i>
					Stats
				</li>
				<li class=' hide hidden trans adminButton' data-action='newPiece'>
					<i class='fa fa-cloud-upload'></i>
					New Piece
				</li>
				<li class=' hide hidden trans adminButton' data-action='editPiece'>
					<i class='fa fa-gears'></i>
					Edit Pieces
				</li>
        <li class='baritem' data-action='favorites'>
          <i class='fa fa-heart'></i>
          Favorites
        </li>
        <li class='baritem' data-action='activity'>
          <i class='fa fa-flash'></i>
          Active
        </li>
        <li class='baritem' data-action='new'>
          <i class='fa fa-star'></i>
          New Pieces
        </li>
        <li class='baritem' data-action='all'>
          <i class='fa fa-eye'></i>
          All
        </li>
      </ul>
      <h3 class='under-line'>Followed Blogs</h3>
      <div class='followed-links'>
      </div>
    </mainitems>
  </sidebar>
	<piecesholder>
  </piecesholder>
</mainholder>


<messenger class='messenger hidden al-center hide round-18 shadow line-34 font-14 bold bk-grey'>
</messenger>
<failmessenger class='messenger hidden al-center hide round-18 shadow-red line-34 font-14 bold bk-red'>
</failmessenger>
<successmessenger class='messenger hidden al-center hide round-18 shadow-green line-34 font-14 bold bk-green'>
</successmessenger>

