<!DOCTYPE html>
<html>
<head>
  <title>Jana</title>
  <meta property="og:image" content="http://s3.amazonaws.com/jana-art/pieces/images/000/000/007/big/base64.txt?1388355555" />
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
