<h3>Recover Password</h3>
<form action='/forgot'>
	<roundform>
		<input type='email' name='user[email]' placeholder='email'>
	</roundform>
	<button type='submit' class='bk-green round-small nobord white bold'>Recover</button>
</form>
<a href='#' class='changeLoginType' data-template='signup'>Or Sign Up!</a>


