<li>
<button class='nobord bk-grey round-small white bold login'>Login/Sign Up</button>
</li>
<li>
<p>Or sign in with <a href="/auth/facebook">Facebook <i class="fa font-32 fa-facebook-square"></i></a></p>
</li>