<li>
<button class='line-22 font-14 nobord bk-grey round-small white bold login'>Login/Sign Up</button>
</li>
<li>
<a href="/auth/facebook"><p>Or sign in with Facebook <i class="fa font-32 fa-facebook-square"></i></p></a>
</li>