<li>
  <img class='hide' src="<%= Jana.user.get('image') %>">
<p class='font-12'><%= Jana.user.get('email') %></p>
</li>
<li>
<button class='logout round-small nobord bk-grey white'>Log Out</button>
</li>